@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

